In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../DataSets/ecommerce_customers_unit1.csv')
df

,customer_id,age,gender,country,signup_date,last_purchase_date,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,device_type,preferred_category,churned
0,10001,56.0,Male,India,2022-01-27,2024-04-27,10,13273.25,1327.32,522,0,NaN,Home,0
1,10002,69.0,Other,UK,2025-01-12,2025-08-01,10,NaN,308.90,61,0,Mobile,Grocery,0
2,10003,46.0,Female,USA,2021-04-25,2021-06-01,5,3411.83,682.37,1583,0,NaN,NaN,0
3,10004,32.0,Male,India,2021-02-23,2023-09-22,5,4502.00,900.40,740,0,NaN,NaN,0
4,10005,60.0,Female,India,2021-06-07,2021-12-11,7,3842.10,548.87,1390,0,Tablet,Books,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,10358,25.0,Female,India,2023-09-04,2025-06-18,7,NaN,0.00,105,1,Mobile,Electronics,0
601,10117,50.0,Male,USA,2024-05-11,2024-11-08,4,3640.07,910.02,327,0,Mobile,Electronics,0
602,10599,46.0,Male,India,2020-12-01,2024-06-25,6,2176.22,362.70,463,1,Desktop,Electronics,0
603,10442,32.0,Female,UK,2023-12-20,2024-09-20,3,5478.65,1826.22,376,0,Mobile,Home,0
604,10555,44.0,Female,Germany,2024-06-16,2024-12-09,6,5408.13,901.36,296,0,Mobile,Fashion,0

In [3]:
df.head()
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         605 non-null    int64
 1   age                 577 non-null    float64
 2   gender              571 non-null    object
 3   country             573 non-null    object
 4   signup_date         605 non-null    object
 5   last_purchase_date  605 non-null    object
 6   num_orders          605 non-null    int64
 7   total_spent         571 non-null    float64
 8   avg_order_value     605 non-null    float64
 9   recency_days        605 non-null    int64
 10  is_premium_member   605 non-null    int64
 11  device_type         575 non-null    object
 12  preferred_category  583 non-null    object
 13  churned             605 non-null    int64
dtypes: float64(3), int64(5), object(6)
memory usage: 66.3+ KB

In [4]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [5]:
df.isna().sum()

customer_id            0
age                   28
gender                34
country               32
signup_date            0
last_purchase_date     0
num_orders             0
total_spent           34
avg_order_value        0
recency_days           0
is_premium_member      0
device_type           30
preferred_category    22
churned                0
dtype: int64

In [6]:
df['age'].fillna(df['age'].mean(), inplace = True)
df['total_spent'].fillna(df['total_spent'].mean(), inplace = True)

df.isna().sum()

C:\Users\abhijit\AppData\Local\Temp\ipykernel_35764\3917119744.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace = True)
C:\Users\abhijit\AppData\Local\Temp\ipykernel_35764\3917119744.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['total_spent'].fillna(df['total_spent'].mean(), inplace = True)

customer_id            0
age                    0
gender                34
country               32
signup_date            0
last_purchase_date     0
num_orders             0
total_spent            0
avg_order_value        0
recency_days           0
is_premium_member      0
device_type           30
preferred_category    22
churned                0
dtype: int64

In [7]:

df_numeric = df.select_dtypes(include = [np.number])
print(df_numeric.describe())

numer = df_numeric.columns.to_list()
print(numer)

        customer_id         age  num_orders    total_spent  avg_order_value  \
count    605.000000  605.000000  605.000000     605.000000       605.000000
mean   10301.439669   44.175043    5.945455    8059.212137      1279.377471
std      173.636071   14.627455    2.332892   10051.346655      1123.841840
min    10001.000000   18.000000    0.000000       0.000000         0.000000
25%    10151.000000   33.000000    4.000000    4080.500000       795.780000
50%    10302.000000   44.175043    6.000000    6839.700000      1152.530000
75%    10451.000000   56.000000    7.000000    9359.850000      1615.030000
max    10600.000000   69.000000   13.000000  123891.810000     11431.900000

       recency_days  is_premium_member     churned
count    605.000000         605.000000  605.000000
mean     456.029752           0.294215    0.036364
std      405.810389           0.456066    0.187348
min        1.000000           0.000000    0.000000
25%      128.000000           0.000000    0.000000
50%      327.000000           0.000000    0.000000
75%      696.000000           1.000000    0.000000
max     1685.000000           1.000000    1.000000
['customer_id', 'age', 'num_orders', 'total_spent', 'avg_order_value', 'recency_days', 'is_premium_member', 'churned']

In [8]:
df_norm = df.copy()
norm = MinMaxScaler()

df_norm[numer] = norm.fit_transform(df_norm[numer])
df_norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         605 non-null    float64
 1   age                 605 non-null    float64
 2   gender              571 non-null    object
 3   country             573 non-null    object
 4   signup_date         605 non-null    object
 5   last_purchase_date  605 non-null    object
 6   num_orders          605 non-null    float64
 7   total_spent         605 non-null    float64
 8   avg_order_value     605 non-null    float64
 9   recency_days        605 non-null    float64
 10  is_premium_member   605 non-null    float64
 11  device_type         575 non-null    object
 12  preferred_category  583 non-null    object
 13  churned             605 non-null    float64
dtypes: float64(8), object(6)
memory usage: 66.3+ KB

In [9]:
df_norm.describe()

,customer_id,age,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,churned
count,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000
mean,0.501569,0.513236,0.457343,0.065050,0.111913,0.270208,0.294215,0.036364
std,0.289877,0.286813,0.179453,0.081130,0.098308,0.240980,0.456066,0.187348
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.250417,0.294118,0.307692,0.032936,0.069610,0.075416,0.000000,0.000000
50%,0.502504,0.513236,0.461538,0.055207,0.100817,0.193587,0.000000,0.000000
75%,0.751252,0.745098,0.538462,0.075549,0.141274,0.412708,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
standard = StandardScaler()

df_stan = df.copy()
df_stan[numer] = standard.fit_transform(df_stan[numer])
df_stan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         605 non-null    float64
 1   age                 605 non-null    float64
 2   gender              571 non-null    object
 3   country             573 non-null    object
 4   signup_date         605 non-null    object
 5   last_purchase_date  605 non-null    object
 6   num_orders          605 non-null    float64
 7   total_spent         605 non-null    float64
 8   avg_order_value     605 non-null    float64
 9   recency_days        605 non-null    float64
 10  is_premium_member   605 non-null    float64
 11  device_type         575 non-null    object
 12  preferred_category  583 non-null    object
 13  churned             605 non-null    float64
dtypes: float64(8), object(6)
memory usage: 66.3+ KB

In [11]:
# Set the display format for floats
pd.options.display.float_format = '{:.9f}'.format

df_stan.describe()

,customer_id,age,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,churned
count,605.000000000,605.000000000,605.000000000,605.000000000,605.000000000,605.000000000,605.000000000,605.000000000
mean,-0.000000000,-0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000
std,1.000827472,1.000827472,1.000827472,1.000827472,1.000827472,1.000827472,1.000827472,1.000827472
min,-1.731715496,-1.790926839,-2.550643055,-0.802467688,-1.139338361,-1.122214435,-0.645648377,-0.194257172
25%,-0.867124861,-0.764609432,-0.834614088,-0.396166260,-0.430663477,-0.809001436,-0.645648377,-0.194257172
50%,0.003229710,-0.000000000,0.023400395,-0.121428630,-0.112962900,-0.318218863,-0.645648377,-0.194257172
75%,0.862056407,0.809077257,0.452407637,0.129506438,0.298912409,0.591825205,1.548830657,-0.194257172
max,1.720883104,1.698552343,3.026451087,11.533623314,9.041239695,3.030940605,1.548830657,5.147815070

In [12]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [13]:
le = LabelEncoder()

df_norm['country_encoded'] = le.fit_transform(df_norm['country'])
df_norm

,customer_id,age,gender,country,signup_date,last_purchase_date,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,device_type,preferred_category,churned,country_encoded
0,0.000000000,0.745098039,Male,India,2022-01-27,2024-04-27,0.769230769,0.107135815,0.116106684,0.309382423,0.000000000,NaN,Home,0.000000000,3
1,0.001669449,1.000000000,Other,UK,2025-01-12,2025-08-01,0.769230769,0.065050403,0.027020880,0.035629454,0.000000000,Mobile,Grocery,0.000000000,4
2,0.003338898,0.549019608,Female,USA,2021-04-25,2021-06-01,0.384615385,0.027538786,0.059689990,0.939429929,0.000000000,NaN,NaN,0.000000000,5
3,0.005008347,0.274509804,Male,India,2021-02-23,2023-09-22,0.384615385,0.036338157,0.078762061,0.438836105,0.000000000,NaN,NaN,0.000000000,3
4,0.006677796,0.823529412,Female,India,2021-06-07,2021-12-11,0.538461538,0.031011735,0.048012141,0.824821853,0.000000000,Tablet,Books,0.000000000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,0.595993322,0.137254902,Female,India,2023-09-04,2025-06-18,0.538461538,0.065050403,0.000000000,0.061757720,1.000000000,Mobile,Electronics,0.000000000,3
601,0.193656093,0.627450980,Male,USA,2024-05-11,2024-11-08,0.307692308,0.029381038,0.079603565,0.193586698,0.000000000,Mobile,Electronics,0.000000000,5
602,0.998330551,0.549019608,Male,India,2020-12-01,2024-06-25,0.461538462,0.017565487,0.031727010,0.274346793,1.000000000,Desktop,Electronics,0.000000000,3
603,0.736227045,0.274509804,Female,UK,2023-12-20,2024-09-20,0.230769231,0.044221244,0.159747723,0.222684086,0.000000000,Mobile,Home,0.000000000,4
604,0.924874791,0.509803922,Female,Germany,2024-06-16,2024-12-09,0.461538462,0.043652038,0.078846036,0.175178147,0.000000000,Mobile,Fashion,0.000000000,2

In [14]:
# oh = OneHotEncoder()
#
# df_norm = oh.fit_transform(df_norm['gender'])     WRONG !!!!!
# df_norm

In [15]:
# this the easier way (madam's method)

df_stan = pd.get_dummies(df_stan, columns=['gender'], dtype = int)
df_stan

,customer_id,age,country,signup_date,last_purchase_date,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,device_type,preferred_category,churned,gender_Female,gender_Male,gender_Other
0,-1.731715496,0.809077257,India,2022-01-27,2024-04-27,1.739429362,0.519169472,0.042694798,0.162698734,-0.645648377,NaN,Home,-0.194257172,0,1,0
1,-1.725951558,1.698552343,UK,2025-01-12,2025-08-01,1.739429362,0.000000000,-0.864250181,-0.974239790,-0.645648377,Mobile,Grocery,-0.194257172,0,0,1
2,-1.720187621,0.124865653,USA,2021-04-25,2021-06-01,-0.405606847,-0.462746722,-0.531659756,2.779383709,-0.645648377,NaN,NaN,-0.194257172,1,0,0
3,-1.714423683,-0.833030593,India,2021-02-23,2023-09-22,-0.405606847,-0.354196881,-0.337495056,0.700339944,-0.645648377,NaN,NaN,-0.194257172,0,1,0
4,-1.708659745,1.082761899,India,2021-06-07,2021-12-11,0.452407637,-0.419904101,-0.650547007,2.303398600,-0.645648377,Tablet,Books,-0.194257172,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,0.326010214,-1.311978716,India,2023-09-04,2025-06-18,0.452407637,0.000000000,-1.139338361,-0.865725050,1.548830657,Mobile,Electronics,-0.194257172,1,0,0
601,-1.063098739,0.398550295,USA,2024-05-11,2024-11-08,-0.834614088,-0.440020527,-0.328928049,-0.318218863,-0.645648377,Mobile,Electronics,-0.194257172,0,1,0
602,1.715119166,0.124865653,India,2020-12-01,2024-06-25,0.023400395,-0.585778240,-0.816339064,0.017190333,1.548830657,Desktop,Electronics,-0.194257172,0,1,0
603,0.810180969,-0.833030593,UK,2023-12-20,2024-09-20,-1.263621330,-0.256950394,0.486985807,-0.197372903,-0.645648377,Mobile,Home,-0.194257172,1,0,0
604,1.461505914,-0.011976668,Germany,2024-06-16,2024-12-09,0.023400395,-0.263972175,-0.336640136,-0.394672430,-0.645648377,Mobile,Fashion,-0.194257172,1,0,0

In [16]:
oh = OneHotEncoder()

# oh returns a sparse matrix by default, gotta manually convert it into array
gender_encoded = oh.fit_transform(df_norm[['gender']]).toarray()

# print(type(gender_encoded))

# then we gotta convert it manually into dataframe, but the col names are shit (0,1,2,3.....) so we gotta use a method from oh only to get useful nmae
gender_encoded_df = pd.DataFrame(gender_encoded, columns=oh.get_feature_names_out(['gender']))

# gender_encoded_df

# then it is simple , just concat ts into og df
df_norm = pd.concat([df_norm, gender_encoded_df], axis=1)

df_norm